{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true,
    "jasmine": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "@gjv/eslint-config-react",
    "@gjv/eslint-config-typescript"
  ],
  "rules": {
    // https://github.com/typescript-eslint/typescript-eslint/issues/2540#issuecomment-692866111
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "error",

    // Error: JSX is not defined
    "no-undef": "off",

    // Error: conflicts with @typescript-eslint/no-floating-promises
    "no-void": "off"
  }
}
